/*----------------------------------------*/
/*  08. Testimonial CSS
/*----------------------------------------*/

.rs-testimonial{
    background-image: url(../images/testimonial_bg_home_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 10;
    .section-title{
        text-align: left;
        padding-right: 50px;
        @media #{$laptop-device} {
            padding-right: 0;
        } 
        @media #{$desktop-device} {
            padding-right: 0;
        } 
        @media #{$tablet-device} {
            padding-right: 0;
        } 
        @media #{$large-mobile} {
            padding-right: 0;
        } 
        p{
            padding-right: 100px;
            font-size: 16px;
            @media #{$tablet-device} {
                padding-right: 0;
            } 
            @media #{$large-mobile} {
                padding-right: 0;
            } 
        }
    }
    &__rating-item{
        margin-top: 40px;
        @media #{$tablet-device} {
            margin-bottom: 60px;
        } 
        @media #{$large-mobile} {
            margin-bottom: 60px;
        } 
        & > ul{
            display: flex;
            align-items: flex-start;
            gap: 25px;
            flex-wrap: wrap;
            & >li{
                background: $white;
                display: inline-flex;
                align-items: center;
                padding: 20px 0px 20px 20px;
                border-radius: 10px;
                width: 265px;
                .rs-icon{
                    background: $primary;
                    height: 60px;
                    width: 60px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    padding: 0 11px;
                    margin-right: 25px;
                }
                .rs-content{
                    & span{
                        font-size: 16px;
                        font-weight: 500;
                        color: #656567;
                    }
                    ul{
                        li{
                            display: inline-block;
                            margin: 0 -3px 0 0;
                            i{
                                color: #FFB100;
                                font-size: 20px;
                            }
                        }
                    }
                }
                &:nth-child(2){
                    padding: 10px;
                }
            }
        }
    }
    &__slider{
        .rs-testimonial-slider-item{
            padding-left: 75px;
            position: relative;
            @media #{$small-mobile} {
                padding-left: 0;
            } 
            .rs-icon{
                height: 50px;
                width: 50px;
                background: $primary;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
                top: 0;
                @media #{$small-mobile} {
                    position: static;
                    margin-bottom: 10px;
                } 
            }
            .rs-content{
                p{
                    padding-bottom: 30px;
                    border-bottom: 1px solid #DBDEE3;
                    margin-bottom: 25px;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 38px;
                }
            }
            .rs-author{
                .title{
                    font-size: 24px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
            }
        }
        .rs-service__slider{
            .owl-dots{
                text-align: left;
                margin-top: 30px;
                margin-left: 65px;
                .owl-dot{
                    &::before{
                        height: 6px;
                        width: 6px;
                    }
                }
            }
        }
    }
    .rs-testimonial-partner-text{
        margin-top: 30px;
        @media #{$tablet-device} {
            margin-bottom: 30px;
        } 
        @media #{$large-mobile} {
            margin-bottom: 30px;
        } 
        .title{
            font-size: 20px;
            font-weight: 600;
            position: relative;
            margin-right: 25px;
            &::before{
                position: absolute;
                content: '';
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 2px;
                height: 70px;
                background: #D8E0E3;
                @media #{$tablet-device} {
                    display: none;
                } 
                @media #{$large-mobile} {
                    display: none;
                } 
            }
        }
    }
    .rs-testimonial-partner-slider{
        .partner-slider-item{
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .rs-shape{
        position: absolute;
        left: 190px;
        bottom: -70px;
    }
}



.rs-testimonial-2{
    position: relative;
    z-index: 10;    
    .rs-shape-2{
        position: absolute;
        left: 100px;
        bottom: 180px;
    }
    .section-title-2{
        text-align: left;
    }
    &__slider{
        background: $theme-color-2;
        padding: 40px;
        border-radius: 10px;
        margin-top: 45px;
        @media #{$small-mobile} {
            padding: 20px 20px 90px;
        }
        .owl-nav{
            display: flex;
            align-items: center;
            position: absolute;
            right: 0;
            bottom: 0;
            @media #{$small-mobile} {
                bottom: -60px;
            }
            .owl-next,
            .owl-prev{
                height: 45px;
                width: 45px;
                border: 1px solid $white;
                color: $white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 15px;
                font-size: 20px;
                transition: $transition;
                span{
                    display: none;
                }
                &:hover{
                    background: $black;
                    border-color: $black;
                }
            }
        }
    }
    &__slider-item{
        margin-right: 30px;
        @media #{$small-mobile} {
            margin-right: 0;
        }
        p{
            color: $white;
            font-size: 20px;
            font-weight: 400;
            font-style: italic;
            line-height: 36px;
            padding-top: 25px;
        }
        .rs-author{
            display: flex;
            align-items: center;
            margin-top: 35px;
            .rs-thumb{
                max-width: 70px;
                margin-right: 25px;
                border-radius: 50%;
                overflow: hidden;
                @media #{$small-mobile} {
                    max-width: 50px;
                }
            }
            .rs-content{
                .title{
                    color: $white;
                    font-size: 20px;
                    font-weight: 500;
                }
                span{
                    font-size: 15px;
                    color: #FCFCFC;
                }
            }
        }
    }
    &__thumb{
        text-align: right;
        position: relative;
        z-index: 10;
        @media #{$tablet-device} {
            margin-top: 40px;
        } 
        @media #{$large-mobile} {
            margin-top: 40px;
        } 
        .rs-shape{
            position: absolute;
            right: -80px;
            top: 12px;
            z-index: -1;
            animation: spine 30s infinite linear;
            -webkit-animation: spine 30s infinite linear;
        }
        .rs-testimonial-image-box{
            position: absolute;
            left: 85px;
            bottom: -95px;
            background: $black;
            width: 210px;
            border-radius: 10px;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 30px;
            @media #{$large-mobile} {
                left: 0;
            } 
            .rs-icon{
                display: inline-flex;
                height: 60px;
                width: 60px;
                background: $theme-color-2;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                padding: 0 10px;
            }
            .title{
                color: $white;
                font-size: 36px;
                font-weight: 600;
                margin-top: 12px;
            }
            span{
                font-size: 20px;
                font-weight: 500;
                color: #FFFFFFC2;
            }
        }
    }
    .rs-testimonial-partner-text{
        margin-top: 30px;
        @media #{$tablet-device} {
            margin-bottom: 30px;
            margin-top: 70px;
        } 
        @media #{$large-mobile} {
            margin-bottom: 30px;
            margin-top: 70px;
        } 
        .title{
            font-size: 20px;
            font-weight: 600;
            position: relative;
            margin-right: 25px;
            color: $black;
            &::before{
                position: absolute;
                content: '';
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 2px;
                height: 70px;
                background: #D8E0E3;
                @media #{$tablet-device} {
                    display: none;
                } 
                @media #{$large-mobile} {
                    display: none;
                } 
            }
        }
    }
    .rs-testimonial-partner-slider{
        .owl-dots{
            display: none;
        }
        .partner-slider-item{
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@keyframes spine{from{transform:rotate(0);-webkit-transform:rotate(0)}to{transform:rotate(359deg);-webkit-transform:rotate(359deg)}}
@-webkit-keyframes spine{from{transform:rotate(0);-webkit-transform:rotate(0)}to{transform:rotate(359deg);-webkit-transform:rotate(359deg)}}



.rs-testimonial-3{
    position: relative;
    z-index: 10;
    &__title{
        text-align: center;
        .title{
            background-color: transparent;
            background-image: linear-gradient(180deg, #1A001B8F 0%, #FFFFFF00 70%);
            font-size: 120px;
            line-height: 120px;
            margin: 0px;
            padding: 0px;
            writing-mode: unset;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            font-weight: 700;
            display: block;
            @media #{$laptop-device} {
                font-size: 80px;
            }
            @media #{$desktop-device} {
                font-size: 80px;
            }
            @media #{$tablet-device} {
                font-size: 60px;
            }
            @media #{$large-mobile} {
                font-size: 40px;
            }
        }
    }
    & .rs-testimonial-slider-box{
        text-align: center;
        img{
            display: inline-block;
        }
        padding: 0 200px;
        @media #{$extra-minBig-device-2} {
            padding: 0;
        }
        .testimonial-item{
            text-align: center;
            p{
                font-size: 24px;
                line-height: 38px;
                font-weight: 500;   
                margin: 30px 0 25px;
                @media #{$desktop-device} { 
                    font-size: 18px;
                }
                @media #{$tablet-device} { 
                    font-size: 18px;
                }
                @media #{$large-mobile} { 
                    font-size: 18px;
                    line-height: 32px;
                }
            }
            ul{
                li{
                    display: inline-block;
                    margin: 0 11px;
                    &.rs-review{
                        width: 100px;
                    }
                    &.rs-brand{
                        width: 90px;
                    }
                }
            }
            .rs-author{
                margin: 17px 0 0;
                .title{
                    font-size: 20px;
                    font-weight: 600;
                    color: #00214d;
                    font-family: $font-family-base;
                    margin-bottom: 8px;
                }
                span{
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
        .testi-slider-nav{
            width: 280px;
            display: inline-block;
            margin-top: 38px;
            .rs-thumb{
                border-radius: 50%;
                overflow: hidden;
                border: 5px solid $white;
                &.slick-current{
                    border-color: #FADADE;
                }
            }
        }
    }
    .rs-shape{
        position: absolute;
        right: 45px;
        bottom: 60px;
        animation: veritcal2 3s alternate infinite;
        -webkit-animation: veritcal2 3s alternate infinite;
        z-index: -1;
        img{
            transform: translate3d(-6.3px, -15px, 0px) rotate(12deg);
            transform-style: preserve-3d;
            backface-visibility: hidden;
            width: 100px;
            height: auto;
            opacity: 0.3;
        }
    }
    .rs-shape-2{
        position: absolute;
        left: 80px;
        top: 0;
        z-index: -1;
        width: 100px;
        animation: veritcal2 3s alternate infinite;
        -webkit-animation: veritcal2 3s alternate infinite;
    }
}

.rs-testimonial-4{
    .section-title-4{
        @media #{$tablet-device} {
            margin-bottom: 10px;
        }
        @media #{$large-mobile} {
            margin-bottom: 10px;
        }
    }
    .section-text{
        @media #{$desktop-device} {
            margin-bottom: 30px;
        }
        @media #{$tablet-device} {
            margin-top: 0;
            margin-bottom: 30px;
        }
        @media #{$large-mobile} {
            margin-top: 0;
            margin-bottom: 30px;
        }
    }
    &__box{
        position: relative;
        z-index: 10;
        &::before{
            position: absolute;
            content: '';
            right: 0;
            top: 0;
            height: 100%;
            width: 80%;
            background-image: url(../images/testimonial_large_img.jpg);
            background-repeat: no-repeat;
            background-position: center right;
            background-size: cover;
            z-index: -1;
            @media #{$large-mobile} {
              display: none;
            } 
        }
        .rs-service__slider{
            width: auto;
            box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.06);
            padding: 50px 55px 45px 45px;
            background: $white;
            margin: 75px 80px 75px 0;
            @media #{$desktop-device} {
              margin-right: 0;
            } 
            @media #{$tablet-device} {
              margin-right: 0;
            } 
            @media #{$large-mobile} {
              margin-right: 0;
              margin: 0px 0px 0px 0;
            } 
            @media #{$small-mobile} {
              padding: 20px;
            } 
        }
    }
    &__slider{
        .rs-icon{
            width: 45px;
            margin-bottom: 25px;
        }
        p{
            font-size: 20px;
            line-height: 1.75;
            @media #{$large-mobile} {
              font-size: 17px;
            } 
        }
        .rs-author{
            display: flex;
            align-items: center;
            margin-top: 30px;
            @media #{$small-mobile} {
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
            }
            .rs-thumb{
                max-width: 65px;
                margin-right: 24px;
                border-radius: 50%;
                overflow: hidden;
            }
            .rs-content{
                .title{
                    font-size: 20px;
                    color: #202020;
                    margin-bottom: 7px;
                }
                span{
                    color: $body-color;
                }
            }
        }
    }
    .rs-service__slider{
        .owl-nav{
            display: inline-block;
            @media #{$tablet-device} {
                display: none;
            }
            @media #{$large-mobile} {
                display: none;
            }
            .owl-prev,
            .owl-next{
                height: 45px;
                width: 45px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: $white;
                background: $theme-color-5;
                transition: all ease 0.3s;
                border-radius: 4px;
                span{
                    display: none;
                }
            }
            .owl-prev{
                position: absolute;
                right: -65px;
                bottom: 0;
            }
            .owl-next{
                position: absolute;
                right: -65px;
                bottom: 50px;
            }
        }
    }
}