
// Font Family
$font-family-base: 'Epilogue', sans-serif;
$headings-font-family: 'Epilogue', sans-serif;

// Responsive Variables
$extraBig-device: "only screen and (min-width: 1550px)";
$extra-minBig-device: "only screen and (max-width: 1900px)";
$extra-minBig-device-2: "only screen and (max-width: 1599px)";
$desktop-device-2: "only screen and (min-width: 1200px) and (max-width: 1399px)";
$laptop-device: "only screen and (min-width: 1200px) and (max-width: 1549px)";
$desktop-device: "only screen and (min-width: 992px) and (max-width: 1199px)";
$tablet-device: "only screen and (min-width: 768px) and (max-width: 991px)";
$large-mobile: "only screen and (max-width: 767px)";
$small-mobile: "only screen and (max-width: 575px)";
$extra-small-mobile: "only screen and (max-width: 479px)";

//===============================
// Bootstrap Variables Overright
//===============================

// Color
$primary: #25826A;
$secondary: #003A37;
$success: #4caf50;
$danger: #f44336;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #333333;
//
$body-color: #656567;
$heading-color: #003A37;
//
$white: #ffffff;
$black: #0C2543;
$grey: #c5d0d0;
$dark-2: #00214D;

$theme-color-2: #008eff;
$theme-color-3: #E11631;
$theme-color-4: #F18F20;
$theme-color-5: #034B5B;


// transtion

$transition: all linear 0.3s;
$transition-ease: all ease 0.3s;